@import url(./normalize.css);


/* Basic Rules */

html{
    font-size: 62.5%;
}

*,::before,::after{
    box-sizing: border-box;
}

body{
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
}

/* font-family: 'Fraunces', serif;


/* Color Pallete */

:root{
    --color-dark-cyan: hsl(158, 36%, 37%);
    --color-cream: hsl(30, 38%, 92%);
    --color-Very-dark-blue: hsl(212, 21%, 14%);
    --color-Dark-grayish-blue: hsl(228, 12%, 48%);
    --color-White: hsl(0, 0%, 100%);
}


