@import url(./normalize.css);


/* Basic Rules */

html{
    font-size: 62.5%;
}

*,::before,::after{
    box-sizing: border-box;
}

body{
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h1{
    font-family: 'Fraunces', serif;
}


/* Color Pallete */

:root{
    --color-dark-cyan: hsl(158, 36%, 37%);
    --color-cream: hsl(30, 38%, 92%);
    --color-Very-dark-blue: hsl(212, 21%, 14%);
    --color-Dark-grayish-blue: hsl(228, 12%, 48%);
    --color-White: hsl(0, 0%, 100%);
}


.grid{
    display: grid;
}

@media screen and (min-width:1024px) {
    .grid--cols-2{
        grid-template-columns: repeat(2,1fr);
    }
}

.price::before{
    content: '$';
}

.price-display{
    display: flex;
    align-items: center;
}

.price--current{
    color: var(--color-dark-cyan);
    font-family: 'Fraunces', serif;
    padding: 0;
    margin-right: 2rem;
}

.price--striked-out{
    text-decoration: line-through;
    color: var(--color-Dark-grayish-blue);
    font-size: 1.25rem;
}


/* Buttons */

.btn{
    cursor: pointer;
    border: none;
}

.btn--cart{
    display: flex;
    background-color: var(--color-dark-cyan);
    color: white;
    padding: 1.5rem;
    font-weight: bold;
    width: 100%;
    border-radius: 7px;
}

.icon--cart{
    margin-right: 1rem;
}



